<html>
<head>
</head>
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=4343854762307447&autoLogAppEvents=1"></script>

<div class="grey-text">
<h1>Login</h1>
</div>

<% flash[:message] if flash[:message] %>

<%= form_for :user do |f|%>
<div class="input-field col s12">
  <%= f.label :email %>
  <%= f.email_field :email %>
  </div>
  <br>
  <div class="input-field col s12">
  <%= f.label :password %>
  <%= f.password_field :password %>
  </div>
  <br>
  <%= f.submit "Login"%>
  <br>
<% end %>
<br>

<div class="fb-login-button" data-size="medium" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="true" data-width=""></div>

  </body>
</html>
