<html>
<head>
</head>
<body>

<div class="grey-text">
<h1>Login</h1>
</div>

<% flash[:message] if flash[:message] %>

<%= form_for :user do |f|%>
<div class="input-field col s12">
  <%= f.label :email %>
  <%= f.email_field :email %>
  </div>
  <br>
  <div class="input-field col s12">
  <%= f.label :password %>
  <%= f.password_field :password %>
  </div>
  <br>
  <%= f.submit "Login"%>
  <br>
<% end %>
<br>

<%= link_to('Login with Facebook!', '/auth/facebook', class: "btn grey") %>

  </body>
</html>
