<div class="grey-text">
<h2>Budget Form </h2>
</div>

<%= form_for(@budget) do |f|%>

<% if @budget.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @budget.errors.full_messages.each do |msg| %> 
      <li class="flash-alert">* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.label :name %>
<%= f.text_field :name %>
<br>
<br>
<%= f.label :income %>
<%= f.number_field :income, step: :any %>
<br>
<br>
<%= f.label :expenses %>
<%= f.number_field :expenses, step: :any %>
<br>
<br>
<%= f.label :start_date %>
<%= f.date_field :start_date %>
<br>
<br>
<%= f.label :end_date %>
<%= f.date_field :end_date %>
<br>
<br>
<%= f.label :notes %>
<%= f.text_field :notes %>
<br>
<br>
<%= f.submit%>
<% end %>


