<div class="grey-text">
<h3> <%= current_user.name%>'s Transactions </h3>
</div>

<% if @transactions == [] %>
<br>
<br>

  <div class="row">
    <div class="col s12 m12">
      <div class="card grey">
        <div class="card-content white-text">
          <span class="card-title">You have no transactions stored.</span>
        </div>
        <div class="card-action black-text">
          <%= link_to "Add a New Transaction", new_transaction_path, method:'get'  %>
        </div>
      </div>
    </div>
  </div>


<% else %>

<table class="striped highlight center">
  <thead>
    <th>Store Name</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Category</th>
  </thead>

  <tbody>
    <% @transactions.each do |transaction|%>
        <tr>
            <td> <%= transaction.store_name %></td>
            <td> $<%= link_to transaction.amount, user_transaction_path(current_user, transaction) %>  spent at <%= transaction.store_name %> on <%= transaction.date.strftime('%a, %b %d, %Y') %></td>
            <td> <%= transaction.date.strftime('%a, %b %d, %Y') %></td>
            <td> <%= transaction.category %></td>
        </tr>
    <% end %>

    </tbody>
</table>

<h4> Total Spent: $<%= total_spent %> </h4>

<% end %>