<div class="grey-text">
<h3> <%= current_user.name%>'s Transactions </h3>
</div>

<div class="grey-text">
<h4> Total Spent: <%= number_to_currency(total_spent) %> </h4>
</div>
<br>

<% if @transactions == [] %>
<br>
<br>

  <div class="row">
    <div class="col s12 m12">
      <div class="card grey">
        <div class="card-content white-text">
          <span class="card-title">You have no transactions stored.</span>
        </div>
        <div class="card-action black-text">
          <%= link_to "Add a New Transaction", new_transaction_path, method:'get'  %>
        </div>
      </div>
    </div>
  </div>


<% else %>

<div class="grey-text">
<p> Filter by Category: </p>

<form action="/transactions/find" method="get">
  <input type="text" id="category_id" name="transaction[category_id]"><br>
 
  <input type="submit" value="Filter">
</form>

</div>
<br>
<br>

<table class="striped highlight center">
  <thead>
    <th>Store Name</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Category</th>
  </thead>

  <tbody>
    <% @transactions.each do |transaction|%>
        <tr>
            <td> <%= transaction.store_name %></td>
            <td> <%= link_to number_to_currency(transaction.amount), user_transaction_path(current_user, transaction)%></td>
            <td> <%= transaction.date.strftime('%a %b %d, %Y') %></td>
            <td><%= find_transaction_category(transaction.category_id) %></td>
        </tr>
    <% end %>

    </tbody>
</table>

<% end %>