<br>
<br>
<div class="row">
    <div class="col s12 m12">
      <div class="card grey">
        <div class="card-content white-text">
          <span class="card-title"><%= @transaction.store_name %></span>
            <p> Date: <%= @transaction.date.strftime('%a %b %d, %Y') %> </p>
            <p> Amount: <%= number_to_currency(@transaction.amount) %> </p>
            <p> Category: <%= find_transaction_category(@transaction.category_id) %></p>
        </div>
        <div class="card-action">
          <%= link_to "Edit Transaction", edit_user_transaction_path(current_user), method:'get'  %> 
          <%= link_to "Delete Transaction", @transaction, method: :delete, data: { confirm: "Are you sure?", disable_with: "Processing..." } %> 
        </div>
      </div>
    </div>
</div>



