<!DOCTYPE html>
<html>
  <head>
    <title>HonestBudget</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if is_logged_in? %>
      <%= link_to "Create a Budget", new_user_budget_path(current_user), method:'get' %> |
      <%= link_to "All Budgets", user_budgets_path(current_user), method:'get'  %> |
      <%= link_to "Add a new Transaction", new_user_transaction_path(current_user), method:'get' %> |
      <%= link_to "All Transactions", user_transactions_path(current_user), method:'get' %> |
      <%= link_to "Logout", logout_path, method:'delete' %> |    
      <% else %>
      <%= link_to "Sign Up", signup_path, method:'get' %> |
      <%= link_to "Log In", login_path, method:'get' %>
      <% end %>
      </div>
    <%= yield %>
  </body>
</html>
