<!DOCTYPE html>
<html>
  <head>
    <title>HonestBudget</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  </head>

<main>
  <body>
    
    
    <nav class="nav-extended">
     <div class="nav-wrapper grey lighten-1">

      <ul class="left">
        <a href="/" class="brand-logo"> // HNST BDGT // </a>
      </ul>

      <% if is_logged_in? %>
      <ul class="right">
      <li><%= link_to "New Budget", new_user_budget_path(current_user), method:'get' %></li>
      <li><%= link_to "All Budgets", user_budgets_path(current_user), method:'get'  %></li> 
      <li><%= link_to "All Transactions", user_transactions_path(current_user), method:'get' %></li> 
      <li><%= link_to "Logout", logout_path, method:'delete' %></li> 
      <% else %>
      <li><%= link_to "Sign Up", signup_path, method:'get' %></li> 
      <li><%= link_to "Log In", login_path, method:'get' %></li> 
      <% end %>
      </ul>
      
     </div>
    </nav>

    <%if flash[:alert]  %>
        <div class="alert alert-danger" role="alert">
     <%=  flash[:alert] %> 
        </div>
    <% end %>


    <div class="container center">

      <%= yield %>

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </body>
  </main>
  <br>
  <br>

  <footer class="page-footer center grey lighten-1">
    <div>
        © 2020 Honest Budget
    <div>
  </footer>
</html>
